@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: grey;


}

.rtl-grid {
  direction: rtl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table {
  align-items: center;
}

button{
  height: 60px;
  width: 50px;
  font-size: medium;
  color: white;
  border-radius: 2px;
  padding: 20px;
  margin:2px;
  background-color: grey;
}
button:hover{
  box-shadow: 2px 2px 5px white;
}

/* className='text-2xl border-0 border-gray px-5 py-4 bg-gray-600 text-red-400' */

*>*{
  font-family: 'Poppins',sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #333;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
  
    height: 50px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 50px;
    padding: 2px;
}

button {
	cursor: pointer;
	background: #333;
	margin: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
	color: white;
	font-size: 16px;
}

button:hover {
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
	font-size: 15px;
	transition: 500ms;
}

button:focus {
	outline: none;
}

.red:hover {
	color: #f07171;
	text-shadow: 0px 0px 10px #f07171;
}

.green:hover {
		color: #93f071;
	text-shadow: 0px 0px 10px #93f071;
}

.blue:hover {
	color: #71b7f0;
	text-shadow: 0px 0px 10px #71b7f0;
}

.purple:hover {
	color: #b971f0;
	text-shadow: 0px 0px 10px #b971f0;
}